<div>
    <h2 class="strong" style="color: green;">This is a component!</h2>
    CurrentCounterValue in MyFirstComponent is @CurrentCounterValue
</div>

@code {
    [Parameter]
    public int CurrentCounterValue { get;set; }
}